body{
    background-color: rgb(250,250,250);
    text-align: center;
}

.row{
    margin-top: 18px;
}

.row img{
    width: 250px;
    position: relative;
}
.product{
    display: inline-block;
    position: relative;
}

.product:hover .cuore{
    display: block;
}

.sconto{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.sconto.verde{
    background-color: green;
}
.sconto.rosso{
    background-color: red;
}

.cuore{
    position: absolute;
    bottom: 0;
    margin: 0;
    color: red;
    font-size: 30px;
    display: none;
    text-align: center;
    width: 100%;
}